@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.hidden {
  display: none;
}

.favoritesContainer {
  font-family: 'Roboto Condensed', sans-serif;
  /* font-size: 14px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.image {
  margin-top: 8px;
  height: 10.84px;
  width: 12px;
}

.favoriteBadge {
  width: 24px;
  height: 21px;
}
