@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.hidden {
  display: none;
}

.favoritesContainer {
  font-family: 'Roboto Condensed', sans-serif;
  /* font-size: 14px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

img.imageFv {
  height: 10.84px;
  width: 12px;
  object-position: center;
  position: absolute
}


.favoriteBadge {
  width: 24px;
  height: 21px;
}
