@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/**
 *
 Font weight references:

 Regular: 400;
 Medium: 500;
 Semi-bold: 600;
 Bold: 700;
 Extra-bold: 800;
 *
 */

/* Variables */

html,
body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px; /* BASE FONT SIZE */
  line-height: 1.5em;
  font-weight: 400;
}

